<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Jessica Whyte</h1>
 <p>I am Jessica Whyte, a second-year computing student from the Faculty of Science and Technology. My knack for problem-solving and my infinite curiosity have guided me onto the path of reading for a bachelor’s degree in Information Technology. I am intrigued by science fiction and fantasy genres and thoroughly appreciate a good book or movie. I am also sometimes a creative who finds relaxation in digital art. I hope that this gives a peak into my personality.   </p>
</body>
</html>